:root {

    --radius: 20vw; /* of whole circle */

    --staff_thickness = calc(var(--radius) * 0.3);
    --label_thickness = calc(var(--radius) * 0.15);

    /* TODO calculate radii using width of each ring in circle */
    --radius_major: calc(var(--radius) * 1);
    --radius_staff: calc(var(--radius) * (17 / 20));
    --radius_minor: calc(var(--radius) * (11 / 20));
    --radius_hole: calc(var(--radius) * (8 / 20));

    /* variables cannot be passed in to functions (i.e. skew(), rotate()),
     * so the following do nothing for now */
    --num-sections: 12
    --central-angle: calc(360deg / var(--num-sections))
    --skew-angle: calc(90deg - var(--central-angle))
}

.container {
    margin: 100px;
}

.circle {
    position: absolute; /*or fixed?*/
    border-radius: 50%;
    left: 50vw; /* move left edge of circle to center of screen */
    transform: rotate(75deg);
    transition: all .3 ease;
    /*overflow: hidden;*/
}

.major {
    position: absolute;
    background-color: gold; /* PLACEHOLDER */
    height: calc(var(--radius) * 2);
    width: calc(var(--radius) * 2);

    /* move circle left by its radius to center the circle in the screen */
    margin-left: calc(var(--radius) * -1);
    z-index: 1;
}

.staff {
    position: absolute;
    background-color: #FFB; /* PLACEHOLDER */
    height: calc(var(--radius_staff) * 2);
    width: calc(var(--radius_staff) * 2);
    margin-left: calc(var(--radius_staff) * -1);
    margin-top: calc(var(--radius) - var(--radius_staff));
    z-index: 2;
}

.minor {
    position: absolute;
    background-color: brown; /* PLACEHOLDER */
    height: calc(var(--radius_minor) * 2);
    width: calc(var(--radius_minor) * 2);
    margin-left: calc(var(--radius_minor) * -1);
    margin-top: calc(var(--radius) - var(--radius_minor));
    z-index: 3;
}

.hole {
    position: absolute;
    background-color: white;
    height: calc(var(--radius_hole) * 2);
    width: calc(var(--radius_hole) * 2);
    margin-left: calc(var(--radius_hole) * -1);
    margin-top: calc(var(--radius) - var(--radius_hole));
    z-index: 4;
}

/* size/placement of li and children should derive from parent circle */

.circle li {
    position: absolute;
    border: 0.5px dotted green; /* PLACEHOLDER */
    list-style: none;

    /* width/height = circle radius */
    width: 50%; 
    height: 50%;

    /* Sections are rotated around the bottom-right corner of the li
     * (i.e. the center of the circle). */
    transform-origin: 100% 100%;
}

.circle li a {
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100%;

    font-size: 1.8vw;
    display: block;
    text-align: center;
    text-decoration: none;
    transform: skew(-60deg) rotate(-75deg);
}

.minor li a {
    border: 1px solid purple;
    bottom: -50%; /* PLACEHOLDER */
    right: -35%; /* PLACEHOLDER */
    padding: 0.6em;
    color: white;
}

.major li a {
    border: 1px solid brown;
    bottom: -45%; /* PLACEHOLDER */
    right: -28%; /* PLACEHOLDER */
    padding: 0.6em;
    color: #240;
}


/* Each successive section of the circle is rotated clockwise relative to
 * the last section by the central angle (i.e. 30deg, or 360deg / x), where
 * x is the number of sections.
 * Each section is then skewed by 90deg - x, where x is the central angle.
 */
.circle li:first-child {
    transform: rotate(0) skew(60deg);
}
.circle li:nth-child(2){
    transform: rotate(30deg) skew(60deg);
}
.circle li:nth-child(3){
    transform: rotate(60deg) skew(60deg);
}
.circle li:nth-child(4){
    transform: rotate(90deg) skew(60deg);
}
.circle li:nth-child(5){
    transform: rotate(120deg) skew(60deg);
}
.circle li:nth-child(6){
    transform: rotate(150deg) skew(60deg);
}
.circle li:nth-child(7){
    transform: rotate(180deg) skew(60deg);
}
.circle li:nth-child(8){
    transform: rotate(210deg) skew(60deg);
}
.circle li:nth-child(9){
    transform: rotate(240deg) skew(60deg);
}
.circle li:nth-child(10){
    transform: rotate(270deg) skew(60deg);
}
.circle li:nth-child(11){
    transform: rotate(300deg) skew(60deg);
}
.circle li:nth-child(12){
    transform: rotate(330deg) skew(60deg);
}
