@charset "UTF-8";
* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.cof {
  position: relative;
  height: 95vmin;
  width: 95vmin;
  /* rotate so C major is at top of circle */
  transform: rotate(-75deg);
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  border-radius: 50%;
}

@keyframes rotate {
  to {
    /*transform: rotate($start-angle - 360deg);*/
  }
}
.cof::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: pink;
  opacity: 0.3;
}

/* || the hole in the middle of the circle */
.cof::after {
  content: "";
  position: absolute;
  height: 38%;
  width: 38%;
  top: 31%;
  left: 31%;
  background-color: white;
  border-radius: 50%;
}

.circle {
  position: absolute;
  list-style: none;
  height: 0;
  padding: 0;
  /*clip-path: circle(35% at 50% 50%);*/
  clip-path: circle(48% at 50% 50%);
}

.major {
  /* padding trick for maintaining aspect ratio */
  padding-top: 100%;
  width: 100%;
}

/* || label "MAJOR" for major keys */
.major::after {
  content: "MAJOR";
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 6vmin;
  letter-spacing: 0.5rem;
  top: 48%;
  left: 78%;
  width: 30%;
  text-align: center;
  transform: rotate(90deg);
}

.staff {
  /* padding trick for maintaining aspect ratio */
  padding-top: 82%;
  width: 82%;
  top: 9%;
  left: 9%;
}

.minor {
  /* padding trick for maintaining aspect ratio */
  padding-top: 56%;
  width: 56%;
  left: 22%;
  top: 22%;
}

/* || label "MINOR" for major keys */
.minor::after {
  content: "MINOR";
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 5vmin;
  letter-spacing: 0.4rem;
  top: 39%;
  left: 73%;
  width: 30%;
  text-align: center;
  transform: rotate(86deg);
}

.circle li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 93.30127% 25%);
}

.major li {
  background-color: #689F38;
}

.staff li {
  background-color: #FFF9C4;
}

.minor li {
  background-color: #FF3D00;
}

.circle li:nth-child(1) {
  transform: rotate(0deg);
}

.circle li:nth-child(2) {
  transform: rotate(30deg);
}

.circle li:nth-child(3) {
  transform: rotate(60deg);
}

.circle li:nth-child(4) {
  transform: rotate(90deg);
}

.circle li:nth-child(5) {
  transform: rotate(120deg);
}

.circle li:nth-child(6) {
  transform: rotate(150deg);
}

.circle li:nth-child(7) {
  transform: rotate(180deg);
}

.circle li:nth-child(8) {
  transform: rotate(210deg);
}

.circle li:nth-child(9) {
  transform: rotate(240deg);
}

.circle li:nth-child(10) {
  transform: rotate(270deg);
}

.circle li:nth-child(11) {
  transform: rotate(300deg);
}

.circle li:nth-child(12) {
  transform: rotate(330deg);
}

.circle li:hover {
  background-color: gold;
}

/* || labels for major and minor keys */
.circle li::after {
  position: absolute;
  width: 10vmin;
  text-align: center;
  font-size: 5.5vmin;
  color: white;
  transform: rotate(75deg);
  text-shadow: 0.6vmin 0.6vmin 1vmin black;
}

.major li::after {
  right: 3%;
  top: 36%;
}

.minor li::after {
  right: 3%;
  top: 35%;
}

.major li:nth-child(1)::after {
  content: "C";
}

.major li:nth-child(2)::after {
  content: "G";
}

.major li:nth-child(3)::after {
  content: "D";
}

.major li:nth-child(4)::after {
  content: "A";
}

.major li:nth-child(5)::after {
  content: "E";
}

.major li:nth-child(6)::after {
  content: "B";
}

.major li:nth-child(7)::after {
  content: "G♭";
}

.major li:nth-child(8)::after {
  content: "D♭";
}

.major li:nth-child(9)::after {
  content: "A♭";
}

.major li:nth-child(10)::after {
  content: "E♭";
}

.major li:nth-child(11)::after {
  content: "B♭";
}

.major li:nth-child(12)::after {
  content: "F";
}

.minor li:nth-child(1)::after {
  content: "a";
}

.minor li:nth-child(2)::after {
  content: "e";
}

.minor li:nth-child(3)::after {
  content: "b";
}

.minor li:nth-child(4)::after {
  content: "f♯";
}

.minor li:nth-child(5)::after {
  content: "c♯";
}

.minor li:nth-child(6)::after {
  content: "g♯";
}

.minor li:nth-child(7)::after {
  content: "e♭";
}

.minor li:nth-child(8)::after {
  content: "b♭";
}

.minor li:nth-child(9)::after {
  content: "f";
}

.minor li:nth-child(10)::after {
  content: "c";
}

.minor li:nth-child(11)::after {
  content: "g";
}

.minor li:nth-child(12)::after {
  content: "d";
}

/*# sourceMappingURL=main.css.map */
