
$central-angle: 30deg;

$flat: "\266D";
$sharp: "\266F";

$major-keys: (1: "C", 2: "G", 3: "D", 4: "A", 5: "E", 6: "B", 7: "G#{$flat}", 8: "D#{$flat}", 9: "A#{$flat}", 10: "E#{$flat}", 11: "B#{$flat}", 12: "F");

$minor-keys: (1: "a", 2: "e", 3: "b", 4: "f#{$sharp}", 5: "c#{$sharp}", 6: "g#{$sharp}", 7: "e#{$flat}", 8: "b#{$flat}", 9: "f", 10: "c", 11: "g", 12: "d");


* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;
}

$start-angle: -75deg;

.cof {
  position: relative;

  height: 95vmin;
  width: 95vmin;

  /* rotate so C major is at top of circle */
  transform: rotate($start-angle);

  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  border-radius: 50%;
}

@keyframes rotate {
  to {
    /*transform: rotate($start-angle - 360deg);*/
  }
}

.cof::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: pink;
  opacity: 0.3;
}

/* || the hole in the middle of the circle */
.cof::after {
  content: "";
  position: absolute;
  height: 38%;
  width: 38%;
  top: 31%;
  left: 31%;
  background-color: white;
  border-radius: 50%;
}

.circle {
  position: absolute;
  list-style: none;
  height: 0;
  padding: 0;
  /*clip-path: circle(35% at 50% 50%);*/
  clip-path: circle(48% at 50% 50%);
}

.major {
  /* padding trick for maintaining aspect ratio */
  padding-top: 100%;
  width: 100%;
}

/* || label "MAJOR" for major keys */
.major::after {
  content: "MAJOR";
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 6vmin;
  letter-spacing: 0.5rem;
  top: 48%;
  left: 78%;
  width: 30%;
  text-align: center;
  transform: rotate(90deg);
}

.staff {
  /* padding trick for maintaining aspect ratio */
  padding-top: 82%;
  width: 82%;

  top: 9%;
  left: 9%;
}
.minor {
  /* padding trick for maintaining aspect ratio */
  padding-top: 56%;
  width: 56%;  

  left: 22%;
  top: 22%;

}

/* || label "MINOR" for major keys */
.minor::after {
  content: "MINOR";
  position: absolute;
  color: rgba(255, 255, 255, 0.4);
  font-size: 5vmin;
  letter-spacing: 0.4rem;
  top: 39%;
  left: 73%;
  width: 30%;
  text-align: center;
  transform: rotate(86deg);
}

.circle li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 93.30127% 25%);
}

.major li {
  background-color: #689F38;
}
.staff li {
  background-color: #FFF9C4;
}
.minor li {
  background-color: #FF3D00;
}

@for $i from 1 through 12 {
  .circle li:nth-child(#{$i}) {
    transform: rotate(($i - 1) * $central-angle);
  }
}

.circle li:hover {
  background-color: gold;
}

/* || labels for major and minor keys */
.circle li::after {
    position: absolute;
    width: 10vmin;
    text-align: center;
    font-size: 5.5vmin;
    color: white;
    transform: rotate(75deg);

    text-shadow: 0.6vmin 0.6vmin 1vmin black;
}

.major li::after {
  right: 3%;
  top: 36%;
}
.minor li::after {
  right: 3%;
  top: 35%;
}

@each $i, $key in $major-keys {
  .major li:nth-child(#{$i})::after {
    content: $key;
  }
}

@each $i, $key in $minor-keys {
  .minor li:nth-child(#{$i})::after {
    content: $key;
  }
}
