/* || variables */
$central-angle: 30deg;
$start-angle: -75deg;

$flat: "\266D";
$sharp: "\266F";

$major-keys: (1: "C", 2: "G", 3: "D", 4: "A", 5: "E", 6: "B", 7: "G#{$flat}", 8: "D#{$flat}", 9: "A#{$flat}", 10: "E#{$flat}", 11: "B#{$flat}", 12: "F");

$minor-keys: (1: "a", 2: "e", 3: "b", 4: "f#{$sharp}", 5: "c#{$sharp}", 6: "g#{$sharp}", 7: "e#{$flat}", 8: "b#{$flat}", 9: "f", 10: "c", 11: "g", 12: "d");


* {
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  overflow: hidden;
}


.cof {
  position: relative;

  height: 100vmin;
  width: 100vmin;

  /* rotate so C major is at top of circle */
  transform: rotate($start-angle);

  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  border-radius: 50%;
}

@keyframes rotate {
  to {
   /*transform: rotate($start-angle - 360deg);*/
  }
}

.cof::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  /*background-color: pink;*/
  opacity: 0.3;
}

/* || the hole in the middle of the circle */
.cof::after {
  content: "";
  position: absolute;
  height: 38%;
  width: 38%;
  top: 31%;
  left: 31%;
  background-color: white;
  border-radius: 50%;
}

.circle {
  position: absolute;
  list-style: none;
  height: 0;
  padding: 0;
  /*clip-path: circle(35% at 50% 50%);*/
  clip-path: circle(48% at 50% 50%);
}

.major {
  /* padding trick for maintaining aspect ratio */
  padding-top: 100%;
  width: 100%;
  background-color: #689F38;
}

/* || label "MAJOR" for major keys */
.major::after {
  content: "MAJOR";
  position: absolute;
  color: rgba(255, 245, 156, 0.6);
  font-size: 6vmin;
  letter-spacing: calc(0.25rem + 0.8vmin);
  top: 52%;
  left: 77%;
  width: 30%;
  text-align: center;
  transform: rotate(95deg);
}

.staff {
  /* padding trick for maintaining aspect ratio */
  padding-top: 82%;
  width: 82%;

  top: 9%;
  left: 9%;
  background-color: rgba(255, 255, 255, 1);
}

.staff::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;

  background-image: url("../images/circular_staff_treble.png");
  background-position: 4vmin 4.5vmin;
  background-size: 90%;
  background-repeat: no-repeat;

  transform: rotate(57deg);
}

.minor {
  /* padding trick for maintaining aspect ratio */
  padding-top: 56%;
  width: 56%;  

  left: 22%;
  top: 22%;

  background-color: #FF3D00;
}

/* || label "MINOR" for major keys */
.minor::after {
  content: "MINOR";
  position: absolute;
  color: rgba(255, 245, 156, 0.6);
  font-size: 6vmin;
  letter-spacing: calc(0.18rem + 1.2vmin);
  top: 17%;
  left:61%;
  width: 30%;
  text-align: center;
  transform: rotate(55deg);
}

.circle li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  clip-path: polygon(50% 50%, 100% 50%, 93.30127% 25%);

  z-index: 5;
  background-color: rgba(255,255,255,0);
}

@for $i from 1 through 12 {
  .circle li:nth-child(#{$i}) {
    transform: rotate(($i - 1) * $central-angle);
  }
}

.circle li:hover {
  background-color: rgba(250, 230, 95, 0.6);
}

/* || labels for major and minor keys */
.circle li::after {
    position: absolute;
    width: 10vmin;
    text-align: center;
    font-size: 7.5vmin;
    color: white;
    transform: rotate(75deg);

    text-shadow: 0.4vmin 0.4vmin 1vmin black;
}

.major li::after {
  right: 3%;
  top: 35%;
}
.minor li::after {
  right: 2%;
  top: 33%;
}

@each $i, $key in $major-keys {
  .major li:nth-child(#{$i})::after {
    content: $key;
  }
}

@each $i, $key in $minor-keys {
  .minor li:nth-child(#{$i})::after {
    content: $key;
  }
}
